.routes-items {
    display: flex;
    flex-direction: column;
    
    &__content{
        display: flex;
        flex-direction: row;
        color: white;
        width: 300ps;
        height: 150px;
        background-color: #bf07ac;
        height: 50px;
        margin: 20px auto;
        border-radius: 5px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center; 
        
    }

}