@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,800,800i");
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #7571f4; }

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .app__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3f3160;
    width: 70em;
    margin: 40px auto;
    border-radius: 5px; }
    .app__content__app {
      display: flex;
      flex-direction: row; }

.custom-buttom {
  height: 50px;
  position: relative;
  outline: none;
  padding: 0 20px;
  margin: 20px;
  border-radius: 14px;
  background-color: #ffffff; }
  .custom-buttom:hover {
    cursor: pointer; }

p {
  color: white;
  width: 100%;
  font-weight: 100;
  font-size: 20px;
  margin-left: 10px; }

.routes-items {
  display: flex;
  flex-direction: column; }
  .routes-items__content {
    display: flex;
    flex-direction: row;
    color: white;
    width: 300ps;
    height: 150px;
    background-color: #bf07ac;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }

.locations-items {
  color: white;
  width: 300ps;
  height: 150px;
  background-color: olive;
  height: 50px;
  margin: 20px auto;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
