@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,800,800i');
@import './utils/variables';

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $color-purple-light;

}

.app {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   &__content {
       width: 100%;
       display: flex;
       flex-direction: column;
       background-color: #3f3160;
       width: 70em;
       margin: 40px auto;
       border-radius: 5px;

       &__app {
            display: flex;
            flex-direction: row;
       }
       
   }
}

@import './components//CustomButton/CustomButton';
@import './components/CustomText/CustomText';
@import './components/RoutesItems/RoutesItems';
@import './components/LocationsItems/LocationsItems';