.locations-items {
    color: white;
    width: 300ps;
    height: 150px;
    background-color: olive;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
}