.custom-buttom {
    height: 50px;
    position: relative;
    outline: none;
    padding: 0 20px;
    margin: 20px;
    border-radius: 14px;
    background-color: $color-white;

    &:hover {
        cursor: pointer;
    }
}